footer{
    height: 65px;
    height: 70px;
    background-color: black;
    margin-top: 50px;
   
}


.footer-text{
    text-align: center;
    color: white;
    padding: 20px;
    align-content: center;
}